<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.unicen.exa.intia.imgProc.mobile.extractorCaracteristicas.pruebasPerfomance"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher_pruebas"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name="ar.edu.unicen.exa.intia.imgProc.mobile.SrvPruebaPerformance_"
            android:exported="false"
            android:stopWithTask="false" />
        
        <activity
            android:name="ar.edu.unicen.exa.intia.imgProc.mobile.PruebasPhoneActivity_"
            android:label="@string/app_name_pruebas" 
            android:icon="@drawable/ic_launcher_pruebas">
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.unicen.exa.intia.imgProc.mobile.EjecucionesPhoneActivity_"/>
		</activity>

        <activity
            android:name="ar.edu.unicen.exa.intia.imgProc.mobile.ProgressPhoneActivity_"
            android:label="@string/app_name_progreso"
            android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.unicen.exa.intia.imgProc.mobile.EjecucionesPhoneActivity_"/>
		</activity>

        <activity android:name="ar.edu.unicen.exa.intia.imgProc.mobile.EjecucionesPhoneActivity_"
            android:label="@string/app_name_ejecuciones" 
            android:icon="@drawable/ic_launcher_ejecuciones">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        
        <activity android:name="ar.edu.unicen.exa.intia.imgProc.mobile.EstadisticasActivity_" 
            android:label="@string/app_name_estadisticas" 
            android:icon="@drawable/ic_launcher_estadisticas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.unicen.exa.intia.imgProc.mobile.EjecucionesPhoneActivity_"/>
        </activity>
        
	</application>

</manifest>